language: ruby
sudo: required
dist: trusty
os:
  - linux
branches:
  only:
    - master
services:
  - docker
script: |
  docker run -it --rm \
  -e PAT=$PAT \
  -e WEBGRAB_URL=$WEBGRAB_URL \
  -v "$(pwd)/config:/config" \
  --entrypoint="/defaults/updateChannels.sh" \
  synker/webgraboneshot:90

notifications: # set notification options
  email:
    recipients:
      - tunisienheni@gmail.com
    on_success: change
    on_failure: change